<?xml version='1.0' encoding='utf-8'?>

<widget id="app.test.fbcon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Fb Connect</name>

    <description></description>

    <author email="John@doeCorp.org">John Doe</author>

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="<VERSION>">
        <param name="APP_ID" value="<YOUR_APP_ID>" />
        <param name="APP_NAME" value="<YOUR_APP_NAME>" />
    </gap:plugin>

    <content src="index.html" />
    <access origin="*" />

</widget>
